NationalCriminals/NationalCriminals/Service References/ServiceReference1/NationalCriminalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59220/NationalCriminalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Models" />
  <xs:element name="GenerateSearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.Models" minOccurs="0" name="model" nillable="true" type="q1:PersonClientModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateSearchResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>