NationalCriminals/NationalCriminals/Service References/ServiceReference1/NationalCriminalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonClientModels">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeMax" type="xs:int" />
      <xs:element minOccurs="0" name="AgeMin" type="xs:int" />
      <xs:element minOccurs="0" name="HeightMax" type="xs:int" />
      <xs:element minOccurs="0" name="HeightMin" type="xs:int" />
      <xs:element minOccurs="0" name="MaxResult" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightMax" type="xs:int" />
      <xs:element minOccurs="0" name="WeightMin" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonClientModels" nillable="true" type="tns:PersonClientModels" />
</xs:schema>